$background-color: rgb(187, 220, 238);
$title-color: #f0ae2c;

#bio {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10% 10%;
  padding: 100px 0 0 0;
  .paragraph-title {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 0 3%;
    h1 {
      font-family: FreeMono, monospace;
      color: $title-color;
    }
    h3 {
      color: $title-color;
      margin: 9px 10px 0 10px;
      height: 40px;
    }
  }

  #bio-container {
    background-color: rgb(254, 249, 249);
    border-radius: 20px;
    padding: 45px;
    max-width: 1170px;

    #fade-img {
      float: left;
      display: flex;
      flex-direction: column;
      align-content: space-between;
      height: 300px;
      width: 300px;
      overflow: hidden;
      margin: 0px 45px 0px 0;
      .fading,
      .fade-in,
      .fade-out {
        height: 270px;
        width: 270px;
        border: solid 1px rgba(233, 231, 231, 0.9);
        box-shadow: 5px 5px 3px rgb(206, 205, 205);
        transition: 1.5s ease-in-out;
      }
      .fade-in,
      .fade-out {
        opacity: 0;
        transition: 0.2s ease-in-out;
      }
      .fade-out {
        transition: 1.5s ease-in-out;
      }
      .sliding,
      .slide-in,
      .slide-out {
        position: relative;
        text-align: right;
        left: 0;
        font-size: 0.9em;
        padding: 10px 10px 0 0;
        transition: 1.5s ease-in-out;
      }
      .slide-in,
      .slide-out {
        left: -100%;
        transition: 0.2s ease-in-out;
        opacity: 0;
        font-size: 0.9em;
      }
      .slide-out {
        left: 100%;
        transition: 1.5s ease-in-out;
      }
    }

    #my-story {
      font-family: 'Times New Roman', Times, serif;
      font-size: 1.4em;
      text-indent: 50px;
      letter-spacing: 0.2px;
      line-height: 1.7;
      word-spacing: 1px;
      div {
        margin-bottom: 20px;
      }
      span {
        font-weight: bold;
      }
    }
    button {
      outline: none;
      border: transparent;
      background-color: transparent;
      color: blue;
      font-size: 0.8em;
      font-weight: bold;
      cursor: pointer;
    }
  }
}

@media (max-width: 660px) {
  #bio {
    width: 95%;
    margin: 0 2.5%;
    #bio-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 30px;
      #fade-img {
        height: 260px;
        width: 260px;
        margin: 0 0 20px 0;

        .fading,
        .fade-in,
        .fade-out {
          height: 260px;
          width: 260px;
        }
      }
      #my-story {
        font-size: 1.3em;
        text-indent: 25px;
        word-spacing: 0.5px;
      }
    }
  }
}
