$links-color: #fffef7;

#footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 100;
  height: 55px;
  width: 100%;
  bottom: 0;
  background-color: #b8a28d;

  a {
    margin: 0 1em;
    color: $links-color;
    .svg-inline--fa {
      height: 2em;
      width: 2em;
    }
    .svg-inline--fa:hover {
      color: #657426;
      height: 2.5em;
      transition: 0.2s ease-in-out;
      width: 2.5em;
    }
  }
}

@media (max-width: 750px) {
  #footer {
    a {
      margin: 0 0.55em;

      .svg-inline--fa {
        height: 1.8em;
        width: 1.8em;
      }
    }
  }
}
