$nav-background-color: rgba(9, 10, 6, 0.97);
$links-color: #6b6888;
$logo-shaddow-color: rgb(217, 248, 149);

#footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 100;
  height: 60px;
  width: 100%;
  bottom: 0;
  background: linear-gradient(
    to top,
    $nav-background-color 0%,
    rgb(39, 49, 54) 100%
  );

  a {
    margin: 0 1em;
    color: $links-color;
    .svg-inline--fa {
      height: 1.5em;
      width: 1.5em;
    }
    .svg-inline--fa:hover {
      color: rgb(102, 102, 158, 0.7);
    }
  }
}

@media (max-width: 750px) {
  #footer {
    a {
      margin: 0 0.55em;

      .svg-inline--fa {
        height: 1.8em;
        width: 1.8em;
      }
    }
  }
}
