$links-color: rgb(230, 230, 233);

@mixin logo780px() {
  vertical-align: text-bottom;
  color: rgb(250, 237, 237);
  text-shadow: 2px 1px 2px rgb(192, 185, 185);
  font-size: 50px;
  padding: 0;
  background: none;
  border: transparent;
  box-shadow: none;
  margin: 0 0px 10px 0;
}

#nav-bar {
  overflow: hidden;
  position: fixed;
  z-index: 100;
  width: 100%;
  top: 0;
  height: 75px;
  background: linear-gradient(
    to bottom,
    rgba(9, 10, 6, 0.97) 0%,
    rgb(73, 90, 99) 100%
  );

  #nav-left {
    float: left;
    display: flex;
    align-items: center;
    height: 100%;
    #nav-logo {
      display: flex;
      align-items: center;
      margin: 0em 0em 0em 2.5em;

      #burger {
        display: none;
      }

      #logo {
        background: linear-gradient(to left, #6b6888, #02001d, #6b6888);
        background-color: #fdfdfd;
        text-shadow: 3px 2px 3px #fae387;
        text-align: center;
        font-size: 2.5rem;
        font-family: serif;
        width: 65px;
        padding: 0 0px 5px 1px;
        float: left;
        border-radius: 100%;
        border: solid 3px #f4d143;
        box-shadow: 0.5px 0.5px 0.5px rgb(48, 45, 45);
        color: #f0ae2c;
        cursor: pointer;
        &:hover {
          width: 72px;
          font-size: 2.8rem;
          border: solid 4px #fde170;
          color: #eeba53;
          background: linear-gradient(
            to left,
            #02001d,
            #6b6888,
            #6b6888,
            #02001d
          );
        }
      }
    }
  }

  #nav-links-mobile,
  #nav-links {
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 30%;
    align-items: flex-end;
    float: right;
    margin: -0.5em 3em;

    button {
      color: $links-color;
      font-family: FreeMono, monospace;
      font-size: 1.2em;
      font-weight: 500;
      padding: 1px 4px;
      background: transparent;
      border: transparent;
      &:hover {
        font-size: 1.5em;
      }
    }

    .link-offsetTop {
      background-color: rgb(198, 212, 192, 0.8);
      color: rgb(90, 81, 81);
      border-radius: 4px;
      transition: 0.7s ease-in-out;
    }
  }
  .mobile-tongue,
  .tongue {
    display: flex;
    flex-direction: column;
    font-size: 0.7em;
    border: solid 1px gray;
    border-radius: 3px;
    background: rgb(97, 113, 101);

    #bottom-flag-icon,
    #top-flag-icon {
      width: 38px;
      height: 15px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 2px;
      outline: none;
      background: transparent;
      div {
        color: $links-color;
      }
      img {
        height: 9px;
        width: 12px;
      }
    }
    #top-flag-icon {
      border-bottom: solid 1px gray;
    }

    #bottom-flag-icon:hover,
    #top-flag-icon:hover {
      background-color: rgb(133, 163, 157);
      cursor: pointer;
    }
  }
  .mobile-tongue {
    display: none;
  }
}

@media (max-width: 1250px) {
  #nav-bar {
    #nav-links {
      width: 40%;
    }
  }
}

@media (max-width: 1050px) {
  #nav-bar {
    #nav-links {
      width: 50%;
    }
  }
}

@media (max-width: 780px) {
  #nav-bar {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .mobile-tongue {
      display: flex;
      margin-right: 20px;
      button {
        width: 35px;
        font-size: 0.9em;
      }
    }
    .tongue {
      display: none;
    }
    #nav-left {
      width: 165px;
      display: block;

      #divider {
        float: right;
        transform: skew(-10deg);
        height: 100%;
        width: 10%;
        border-right: 10px solid rgb(51, 56, 51);
        background-color: rgb(79, 97, 95);
        margin-left: -20%;
      }
      #nav-logo {
        float: left;
        width: 95%;
        background-color: rgb(79, 97, 95);
        margin: 0;

        #burger-container {
          margin: 0 20px 0 20px;
          overflow: hidden;
          #burger,
          #x {
            width: 30px;
            height: 30px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            background-color: transparent;

            #lineOne,
            #lineTwo,
            #lineThree {
              width: 100%;
              height: 2.5px;
              background-color: rgb(250, 237, 237);
              border-radius: 20px;
              transition: all 0.4s ease-in-out;
            }
            #lineTwo {
              position: relative;
              width: 70%;
              margin: 6px 0;
              left: 0;
              transition: all 0.6s ease-in-out;
            }
          }
          #x {
            #lineOne {
              transform: rotate(-45deg) translate(-5px, 9px);
            }

            #lineThree {
              transform: rotate(45deg) translate(-3px, -7px);
            }
            #lineTwo {
              left: -100%;
              transition: all 0.3s ease-in-out;
            }
          }
        }
        #logo {
          @include logo780px();
          &:hover {
            @include logo780px();
            color: rgb(71, 70, 70);
          }
        }
      }
    }

    #nav-links-mobile,
    #nav-links {
      position: fixed;
      flex-direction: column;
      justify-content: start;
      align-items: center;
      width: 100%;
      height: 100%;
      background: rgb(79, 97, 95, 0.9);
      top: 59px;
      text-align: left;
      left: 0;
      transition: 0.5s ease-in-out;
      margin: 0px;

      button {
        color: rgb(250, 237, 237);
        font-weight: bold;
        width: 80%;
        text-align: start;
        margin: 25px 0px 0;
        border-bottom: solid 1.5px rgb(221, 216, 216);
      }
    }
    #nav-links {
      left: -100%;
      transition: 0.5s ease-in-out;
    }
  }
}
