@keyframes rightBorder {
  from {
    color: rgb(247, 244, 244);
  }
  to {
    color: transparent;
  }
}

.home {
  position: relative;
  width: 100%;
  height: 100vh;
  background-position: top center;
  background-position-x: 50%;
  background-position-y: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-size: cover;

  background-image: linear-gradient(
      to right,
      #6b6888,
      rgba(19, 16, 16, 0),
      rgba(19, 16, 16, 0),
      rgba(19, 16, 16, 0),
      #6b6888
    ),
    url('../images/home-page.jpg');

  font-weight: 100;
  font-family: Andale Mono, monospace;
  letter-spacing: 0.3px;
  word-spacing: 1px;
  color: rgb(226, 228, 222);
  text-align: center;
  h1 {
    margin: 120px 0 25px 0;
    font-weight: bold;
    font-size: 3rem;
  }
  h6 {
    margin: 20px 0 35px 0;
    font-size: 0.75em;
  }
  .type-writer {
    font-size: 1.3em;
  }
  .type-writer::after {
    content: '|';
    animation: rightBorder 1s ease-in-out infinite;
  }
  .Typewriter {
    font-size: 1.3em;
  }
}

@media (max-width: 1025px) {
  #home {
    font-size: 1.2em;
  }
  .home {
    h1 {
      margin-top: 200px;
    }
  }
}
@media (max-width: 660px) {
  #home {
    font-size: 0.85em;
  }
  .home {
    h1 {
      margin-top: 30%;
    }
    h6 {
      margin: 1% 5% 10% 5%;
    }
    .Typewriter {
      font-size: 1.5em;
    }
  }
}

@media (max-width: 350px) {
  #home {
    font-size: 0.65em;
  }
  .home {
    h1 {
      margin: 100px 0 10% 0;
      font-weight: 500;
    }
    h3 {
      margin: 0 5% 3%;
    }
  }
}
